<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 my-5" style="text-align:center">
      <h1 class="about mb-5">About</h1>
      <div class="about-text" style="line-height:0" >
        <h3>ながのCAKEは全国発送可能なケーキ屋さんです。</h3><br/>
        <h3>お子様からお年寄りの方までお召し上がりいただけるよう、</h3><br/>
        <h3>様々なバリエーションをご用意しております。</h3><br/>
        <h3>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h3><br/>
        <h3>ぜひご注文ください。
      </div>
    </div>
  </div>
  
  <div class="about_cake">
    <img src="images/デザート.jpg">
    <%= image_tag '/デザート.jpg' %>
  </div>
</div>
