// トップページ
.main_container {
    background-image: url("/images/ショートケーキ.jpg");
    background-position: right 10% bottom 10%;
    background-size: cover;
    height :450px;
    padding :10%;
    margin :10%;
}

// アバウトページ
.about {
  font-size :60px;
}

.about h3 {
  // line-height: 0.5;
  padding :1 0;
}

.about_cake {
    height :100px;
    weight :100px;
    padding :10%;
    margin :10%;
}

.main_content {
    background-color :white;
    padding :7%;
}

.item_new_table {
  width :110%;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.item_new_table tr {
  margin-bottom :3px;
}

.pagination {
  justify-content:center;
}

.page {
    padding-right :4px;
}

.item_new {
  width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	box-shadow: 2px 2px #d3d3d3
}

// 会員マイページ
.mypage_table th {
  background-color :#eeeeee;
  font-weight: normal;
}